version: "3"
services:
  docker-inspect-api:
    build:
      context: https://github.com/bodav/docker-inspect-api.git
      args: 
        - PLATFORM=lts-buster
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    ports:
      - "8078:8078"
